.price {
  text-align: right;
}

.book-text {
  text-align: justify;
}

.btn-div {
  position: relative;
}

.cart-btn {
  position: absolute;
  right: 0;
  width: 7rem;
}

.book-details {
  text-align: left;
}

.book-img {
  box-shadow: 0px 0px 10px #8ba17c;
}