<div class="h-100 h-custom">
  <div
    *ngIf="cartItems.length === 0"
    class="mt-5 d-flex flex-column align-items-center text-center"
  >
    <h1>A kosarad üres</h1>
    <h5><a href="/books" class="text-dark">Vásárlás folytatása</a></h5>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="160"
      height="160"
      fill="currentColor"
      class="bi bi-cart"
      viewBox="0 0 16 16"
      class="my-5 opacity-50"
    >
      <path
        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
      />
    </svg>
  </div>
  <div class="container h-100 py-5" *ngIf="cartItems.length > 0">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" class="h5">Kosár tartalma</th>
                <th scope="col">Formátum</th>
                <th scope="col">Mennyiség</th>
                <th scope="col">Ár</th>
                <th scope="col">Törlés</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of cartItems">
                <th scope="row">
                  <div class="d-flex align-items-center">
                    <img
                      [src]="'assets/img/' + item.imgUrl + '.jpg'"
                      class="img-fluid rounded-3"
                      style="width: 120px"
                      alt="Book"
                    />
                    <div class="flex-column ms-4">
                      <p class="mb-2">{{ item.title }}</p>
                      <p class="mb-0">{{ item.author }}</p>
                    </div>
                  </div>
                </th>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500">{{ item.bound }}</p>
                </td>
                <td class="align-middle">
                  <div class="d-flex flex-row">
                    <button
                      class="btn btn-link px-2"
                      (click)="item.quantity = item.quantity + 1"
                    >
                      <i class="fas fa-minus"></i>
                    </button>

                    <input
                      id="form1"
                      min="1"
                      name="quantity"
                      [value]="item.quantity"
                      type="number"
                      class="form-control form-control-sm"
                      style="width: 50px"
                      [(ngModel)]="item.quantity"
                      (ngModelChange)="updatePrice(item, $event)"
                    />

                    <button
                      class="btn btn-link px-2"
                      (click)="item.quantity = item.quantity - 1"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </td>
                <td class="align-middle">
                  <p class="mb-0" style="font-weight: 500">
                    {{ item.price * item.quantity | number }} Ft
                  </p>
                </td>
                <td class="align-middle">
                  <button
                    class="btn btn-primary px-2"
                    (click)="removeItem(item)"
                  >
                    X
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <app-order-form
          [totalPrice]="totalPrice"
          [shippingPrice]="shippingPrice"
          [totalWithShipping]="totalWithShipping"
          [cartItems]="cartItems"
        ></app-order-form>
      </div>
    </div>
  </div>
</div>
