<div class="card" style="width: 18rem">
  <img
    class="card-img-top img-fluid"
    [src]="'assets/img/' + imgUrl + '.jpg'"
    alt="Card image cap"
    style="height: 450px; width: 100%; object-fit: cover;"
  />
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ title }}</h5>
    <h6 class="card-text">{{ author }}</h6>
    <p class="card-text">
      {{ price | currency : "HUF" : "code" : "1.0-0" }}
    </p>
  </div>
  <a href="#" class="btn btn-primary">Részletek</a>
</div>
